<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <span><h1><%= @genre.name.capitalize %></h1></span>
  <h2>Artists:</h2>
  <ol>
    <% @genre.artists.each do |artist| %>
      <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></li>
    <% end %>
  </ol>
  <h2>Songs:</h2>
  <ol>
    <% @genre.songs.each do |song| %>
      <li><a href="/songs/<%= song.slug %>"><%= song.name %></a></li>
    <% end %>
  </ol>   
</body>
</html>